.container {
    background-color: #A41618;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    width: 100%;
    position: relative;
    color: #fff;
    padding: 40px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title input {
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
}

.save_button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.add_exercise_button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.cancel_button {
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.arrow {
    position: absolute;
    left: 30px;
    top: 30px;
    color: #fff;
}

.items_container {
    background-color: #000;
    color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px 40px;
}

.edit_button {
    position: absolute;
    right: 30px;
    top: 30px;
    color: #fff;
    background-color: #00000000;
    font-size: 20px;
}

.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.modal {
    width: 80%;
    text-align: center;
}

.sets {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: #141414;
    border-radius: 10px;
    width: 100%;
}

.sets input {
    width: 50px;
    text-align: center;
    border-radius: 15px;
}

.sets_header {
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    font-size: 0.7rem;
    margin-top: 6px;
}

.rest input {
    width: 50px;
    text-align: center;
    margin-top: 3px;
    border-radius: 15px;
}

.remove_button {
    background-color: #ff0000;
    color: #ffffff;
    font-size: 0.8rem;
    border-radius: 15px;
    padding: 6px 10px;
    margin: 5px 0;
    cursor: pointer;
}

.add_button {
    background-color: #00bd00;
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 15px;
    padding: 3px 9px;
    cursor: pointer;
}

.remove, .add {
    display: flex;
    justify-content: center;
}