.container {
    background-color: #A41618;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    width: 100%;
    position: relative;
    color: #fff;
    padding: 60px 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title input {
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
}

.edit_button {
    position: absolute;
    right: 30px;
    top: 30px;
    color: #fff;
    background-color: #00000000;
    font-size: 20px;
    cursor: pointer;
}

.save_button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.add_exercise_button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.cancel_button {
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin: 20px;
}

.arrow {
    position: absolute;
    left: 30px;
    top: 30px;
    color: #fff;
    cursor: pointer;
}

.exercise_header {
    position: relative;
}

.remove_exercise_button {
    position: absolute;
    right: 0;
    top: 20px;
    color: #a1a1a1;
    background-color: #00000000;
    font-size: 1.2rem;
    cursor: pointer;
}

.items_container {
    background-color: #000;
    color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px 40px;
}

.modal_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 1;
}

.modal {
    width: 80%;
    text-align: center;
    margin-top: 20px;
}

.sets {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: #141414;
    border-radius: 10px;
    width: 100%;
}

.sets input {
    width: 50px;
    text-align: center;
    border-radius: 15px;
}

.sets_header {
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    font-size: 0.7rem;
    margin-top: 10px;
}

.rest input {
    width: 50px;
    text-align: center;
    margin-top: 3px;
    border-radius: 15px;
}

.remove_button, .add_button {
    background-color: #ff0000;
    height: 30px;
    width: 30px;
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 100%;
    cursor: pointer;
}

.add_button {
    background-color: #00bd00;
    font-size: 1.4rem;
}

.add_remove_buttons{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    gap: 5px;
}

@media screen and (min-width: 768px) {
    .exercise_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .exercise_group {
        width: 40%;
    }
    
}