.container {
    background-color: #A41618;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    width: 100%;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 40px;
}

.arrow {
    position: absolute;
    left: 30px;
    top: 30px;
    color: #fff;
}

.items_container {
    background-color: #000;
    color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* align-items: center; */
    padding: 30px 40px;
}