.container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-bottom: 20px;
    padding: 30px;
    background-color: #A41618;
    border-radius: 15px;
    gap: 20px;
}

.text {
    justify-self: center;
    color: #fff;
}