.container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #141414;
    border-radius: 15px;
    gap: 20px;
}

.text {
    justify-self: center;
}

.image {
    border-radius: 15px;
}