.container {
    background-color: #A41618;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    width: 100vw;
    position: relative;
    color: #fff;
    padding: 40px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title input {
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
}

.save_button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.arrow {
    position: absolute;
    left: 30px;
    top: 30px;
    color: #ffffff;
}

.items_container {
    background-color: #000;
    color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px 40px;
    text-align: center;
}

.setsHeader {
    display: grid;
    grid-template-areas: "one two three";
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px 25px 5px 25px;
    font-size: 0.7rem;
}

.sets {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    padding: 10px 25px;
    background-color: #141414;
    border-radius: 10px;
    width: 100%;
}

.sets input {
    width: 50px;
    text-align: center;
    border-radius: 15px;
}

.one {
    grid-area: one;
    text-align: left;
}

.two {
    grid-area: two;
    text-align: center;
}

.three {
    grid-area: three;
    text-align: right;
}

.remove_button {
    background-color: #ff0000;
    height: 30px;
    width: 30px;
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 100%;
    margin-top: 5px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .exercise_card {
        width: 40%;
    }

    .exercise_container {
        display: flex;
        justify-content: center;
    }

    .sets {
        width: 60%;
    }

    .setsHeader {
        width: 60%;
    }

    .sets_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}